<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="<%= csrfToken %>">
  <link rel="stylesheet" href="/css/tailwind.css">
  <title>Document</title>
  <script>
    var token = document
      .querySelector(`meta[name="csrf-token"]`)
      .getAttribute("content");
    function joinSession(id) {
      fetch(`/sessions/${id}`, {
        method: "put",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
          "_csrf": token,
        })
      })
        .then((res) => {
          if (res.ok) {
            window.location.reload();
          }
        })
        .catch((err) => console.log(err));
    }
    function leaveSession(id, user) {
      console.log(user);
      fetch(`/sessions/${id}&${user}`, {
        method: "delete",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
          "_csrf": token,
        })
      })
        .then((res) => {
          if (res.ok) {
            window.location.reload();
          }
        })
        .catch((err) => console.log(err));
    }
    let toggle = false;
    function cancelSession() {
      if (toggle)
        document.getElementById("cancelSession").style.display = "none";
      else
        document.getElementById("cancelSession").style.display = "block";
      toggle = !toggle;
    }

  </script>
</head>

<body>
  <div class="grid grid-cols-6">
    <div class="col-start-3 col-span-2">
      <div class="text-lg pt-2">
        <a class="underline" href="/">Home</a>
        <span> > </span>
        <a class="underline" href="/sport/<%= sport.id %>">
          <%=sport.name%>
        </a>
        <span> > </span>
        <a>Sessions #<%= session.id %></a>
      </div>
      <h1 class="py-2 text-4xl text-gray-700">
        <%=sport.name%> session <span class="text-3xl">#<%= session.id%></span>
      </h1>
      <p class="py-2 text-base">This session is scheduled for <%= new Date(session.date).toString().slice(4,21) %>, to
          be played
          at
          "<%=session.address%>"
      </p>
      <div>
        <p class="py-2 text-2xl">Players</p>
        <div class="grid grid-cols-3 ">
          <% if (joinedPlayersName==0 ) {%>
            <p>No one have joined.</p>
            <% } else { %>
              <% (joinedPlayersName).forEach((name, index)=> { %>
                <div class="flex justify-between border border-gray-400 rounded p-2 my-1 mr-2">
                  <div>
                    <%= name %>
                  </div>
                  <% if (user.email==session.organiser) {%>
                    <button id="<%= session.joinedPlayers[index] %>" onclick="leaveSession(<%= session.id %>, this.id)">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                      </svg>
                    </button>
                    <% } %>
                </div>
                <% }) %>
                  <% } %>
        </div>
        <div>
          <% if (session.date>new Date().toISOString()) {%>
            <% var email=(session.joinedPlayers).find((email)=> email==user.email) %>
              <% if (!email && session.reqPlayers>0) { %>
                <button onclick="joinSession(<%=session.id%>)" class="block underline py-2 text-blue-800">Join the
                  session</button>
                <% } else if (email) { %>
                  <button onclick="leaveSession('<%=session.id%>','<%=user.email%>')"
                    class="block underline py-2 text-blue-800">Leave the
                    session</button>
                  <% } %>
                    <% } %>
        </div>
        <div class="py-2">
          <% if (user.email==session.organiser && (!session.isCanceledReason) && (session.date>new
            Date().toISOString()) ) {%>
            <div>
              <a href="/sport/<%= sport.id %>/edit_session/<%= session.id %>" class="underline py-2 text-blue-800">Edit
                Session</a>
            </div>
            <div>
              <button onclick="cancelSession()" class="underline py-2 text-blue-800">Cancel
                Session</button>
            </div>
            <% } else if ((session.isCanceledReason)) { %>
              <div class="text-red-700">
                <span>Canceled Reason : </span>
                <%= session.isCanceledReason %>
              </div>
              <% } %>
        </div>
        <div class="hidden" id="cancelSession">
          <form action="/cancel_Session/<%= session.id %>" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="py-2">
              <label for="cancelReason">What is the reason to cancel a session</label>
              <input type="text" name="cancelReason" id="cancelReason"
                class="block border border-gray-300 text-gray-900 rounded p-2 w-1/2 text-sm">
            </div>
            <div class="py-2">
              <button onclick="cancelSession('<%= session.id %>')"
                class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2">Submit</button>
              <span class="text-sm text-red-700">
                <% if(messages.cancelReason ) {%>
                  <%= messages.cancelReason %>
                    <% } %>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>