<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="<%= csrfToken %>">
  <link rel="stylesheet" href="/css/tailwind.css">
  <title>Document</title>
  <script>
    var token = document
      .querySelector(`meta[name="csrf-token"]`)
      .getAttribute("content");
    let toggle = true;
    function previousSession(element) {
      let div = document.getElementById("previousSession");
      if (toggle) {
        div.style.display = "block";
        element.innerHTML = "Hide Previous Sessions"
      }
      else {
        div.style.display = "none";
        element.innerHTML = "View Previous Sessions"
      }
      toggle = !toggle;
    }
    function deleteSport(id) {
      const confirm = window.confirm("Do you want to delete the sport?");
      if (!confirm) return;
      fetch(`/delete_sport/${id}`, {
        method: "delete",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
          "_csrf": token,
        })
      })
        .then((res) => {
          if (res.ok) {
            window.location = "/";
          }
        })
        .catch((err) => console.log(err));
    }
  </script>
</head>

<body>
  <div class="grid grid-cols-6">
    <div class="col-start-3 col-span-2">
      <div class="text-lg pt-2">
        <a class="underline" href="/">Home</a>
        <span> > </span>
        <a>
          <%=sport.name%>
        </a>
      </div>
      <div class="w-full py-2">
        <div class="inline-block w-2/3">
          <h1 class="text-5xl text-gray-600 font-semibold">
            <%= sport.name %>
          </h1>
        </div>
        <% if (user.role=="admin" ) {%>
          <div class="inline-block">
            <a href="/sport/<%= sport.id %>/edit" class="px-1 underline">edit</a>
            <button onclick="deleteSport('<%= sport.id %>')" class="px-1 underline">delete</button>
          </div>
          <% } %>
      </div>
      <div>
        <p class="text-gray-800 text-3xl py-2">Upcoming Sessions</p>
        <div>
          <% if (upcomingSessions.length==0) { %>
            <p class="py-1 text-lg">There are no Sessions available to join right now. Create one?</p>
            <%}else { %>
              <div class="grid grid-cols-2">
                <% for (var i=0; i<upcomingSessions.length; i++) {%>
                  <div class="border border-gray-400 rounded p-2 my-2 mr-4">
                    <div class="flex justify-between">
                      <a class="" href="/sessions/<%= upcomingSessions[i].id %>">
                        <%= new Date(upcomingSessions[i].date).toString().slice(4,21) %>
                      </a>
                      <p>
                        <%= upcomingSessions[i].reqPlayers %> slots
                      </p>
                    </div>
                  </div>
                  <% } %>
              </div>
              <% } %>
                </ul>
        </div>
      </div>
      <div>
        <a href='/sport/<%=sport.id%>/new_session' class="block underline py-1 text-blue-800">Create a new Session</a>
        <button onclick="previousSession(this)" class="block underline py-1 text-blue-800" value="">View Previous
          Session</button>
        <div class="hidden" id="previousSession">
          <p class="text-gray-800 text-3xl py-2">Previous Sessions</p>
          <div>
            <% if (previousSessions.length==0) { %>
              <p class="py-1 text-lg">There are no previous available.</p>
              <%}else { %>
                <div class="grid grid-cols-2">
                  <% for (var i=0; i<previousSessions.length; i++) {%>
                    <div class="border border-gray-400 rounded p-2 my-2 mr-4">
                      <div class="flex justify-between">
                        <a class="" href="/sessions/<%= previousSessions[i].id %>">
                          <%= new Date(previousSessions[i].date).toString().slice(4,21) %>
                        </a>
                        <p>
                          <%= previousSessions[i].reqPlayers %> slots
                        </p>
                      </div>
                    </div>
                    <% } %>
                </div>
                <% } %>
          </div>
        </div>
      </div>
    </div>
</body>

</html>